#player,#player a{ color:#000;}
#player{ background:url(http://static.tumblr.com/sbxkdxg/DpQm9du5i/cinzanormal.bmp); background-position:bottom; background-color: #C5C0C0;}
#player .mainImage{background:url(http://static.tumblr.com/sbxkdxg/Owum9dldi/normalcinzaplayer.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url(http://static.tumblr.com/sbxkdxg/VJnm9dlgv/pausacinza.png); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:#AEAEAE;  }
#player #seekerBuffered{ background-color:#fff; }
#player #seekerSliderBase{ background-color:#fff; }

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(http://static.tumblr.com/sbxkdxg/xzXm9bwkf/sizerandvolj_copycinza2.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#fff;}
#playlist .module{  color:#333; background-color:#AEAEAE; }
#playlist h3{ background:url(); color:#000; background-color:#AEAEAE;  }
#playlist .even{background-color:#AEAEAE;}
#playlist .odd{ background-color:#AEAEAE;}
#playlist .focus{ background-color:#fff; color:#AEAEAE;}
